body, html {
    height: 100%;
    width: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.card-container{
    display: flex;
    flex-direction: row;
    margin: 0 350px;
}
.card{
    margin: 0 20px;
}
element.style{
    background-color: white;
}




